<app-loader *ngIf="isLoading"></app-loader> 
<div class="container" *ngIf="!isLoading">
  <h1>Lista de héroes</h1>
  
  <ul class="hero-list">
    <li *ngFor="let hero of filteredHeroes" class="hero-card">
      <span>{{ hero.id }} - {{ hero.name | capitalizeFirst }}</span>
      <span class="hero-actions">
        <button [routerLink]="['/edit-hero', hero.id]">Editar</button>
      </span>
    </li>
  </ul>

  <input class="search-input" type="text" [(ngModel)]="searchTerm" (ngModelChange)="search($event)" name="name" placeholder="Buscar Héroe">
  <button class="crear-heroe-btn" [routerLink]="'/create-hero'">Crear Héroe</button>
</div>
