<div class="container">
  <h1>Crear Nuevo Héroe</h1>
  <form (ngSubmit)="createHero()" class="hero-form">
    <div class="form-field">
      <label for="name">Nombre del Héroe:</label>
      <input
        id="name"
        [ngModel]="newHero.name"
        (ngModelChange)="newHero.name = $event"
        name="name"
        type="text"
        placeholder="Nombre del Nuevo Héroe"
      />
    </div>
    <button type="submit" class="create-button">Crear</button>
  </form>
</div>

<div
  *ngIf="notificationService.notification$ | async as notification"
  class="notification-container"
></div>
